<div class="row mgn-top-1em">
  <div class="col-md-4">
    <ngb-alert [dismissible]="true" type="success" (close)="guardado = false" *ngIf="guardado">
      Registros del día {{fechaHoy | date:'dd MMM yyyy'}} guardados con éxito.
    </ngb-alert>
  </div>
  <div class="col-md-12"></div>
</div>

<div class="mgn-top-1em card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        <label>Proyecto</label>
        <app-seleccion-proyecto (proyectoSeleccionado)="proyectoSeleccionado($event)"></app-seleccion-proyecto>
      </div>
    </div>
    <div class="row mgn-top-1em">
      <div class="col-md-4">
        <label for="dia">Fecha</label>
        <input type="date" id="dia" class="form-control" [(ngModel)]="dia" (change)="onFechaCambiada()" />
      </div>
    </div>
    <div class="row mgn-top-1em">
      <div class="col-md-4 card">
        <div class="card-body">
          <i class="fas fa-info-circle"></i> <b>{{ horas | number:'1.0-2' }}</b> horas trabajadas
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card mgn-top-1em" *ngIf="proyecto !== undefined">
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        <button type="button" class="btn btn-primary" (click)="altaRapida()">
          <i class="fa fa-plus"></i> Alta rápida</button>
        <button type="button" class="btn btn-default" *ngIf="registrosHora.length > 0" (click)="guardar()">
          <i class="fa fa-save"></i> Guardar</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="table mgn-top-1em">
          <thead>
            <tr>
              <th>#</th>
              <th>Tipo</th>
              <th>Hora</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let registroHora of registrosHora; index as idx">
              <td>
                <button type="button" class="btn btn-xs btn-danger" (click)="eliminarRegistro(registroHora.id)">
                  <i class="fas fa-eraser"></i>
                </button>
              </td>
              <td>{{ idx % 2 == 0 ? 'Entrada' : 'Salida' }}</td>
              <td>
                <ngb-timepicker [(ngModel)]="registroHora.hora"></ngb-timepicker>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="alert alert-info" *ngIf="primeraCarga && proyecto === undefined">
  <i class="fa fa-circle-info"></i> Aún no has creado ningún proyecto, ¿sobre qué vas a registrar los tiempos?
</div>