<div class="row">
  <div class="col-md-12">
    <div class="alert alert-info">Hoy es
      <b>{{ dia | date:'dd MMM yyyy' }}</b>, ¡no te olvides de registrar el tiempo que trabajas!</div>
  </div>
</div>
<div class="row" *ngIf="proyecto !== undefined">
  <div class="col-md-12">
    <h2>Registros del día para el proyecto <b>{{proyecto.nombre}}</b></h2>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let registroHora of registrosHora; index as idx">
        {{ idx % 2 == 0 ? 'Entrada' : 'Salida' }} - 
        {{registroHora.fechaHora | date:'short'}}
      </li>
    </ul>
  </div>
</div>
<br />
<div class="row" *ngIf="registrosHora.length > 0">
  <div class="col-md-12">
    <div class="alert alert-success">
      Enhorabuena, ¡has trabajado <b>{{ horas }} horas</b> durante el día!
    </div>
  </div>
</div>