<div class="card">
  <div class="card-header"></div>
  <div class="card-body">
    <div class="alert alert-success" *ngIf="usuarioCreado">
      El usuario se ha creado con éxito. <a routerLink="/login">¡Inicia sesión!</a>
    </div>
    <form [formGroup]="frmUsuario" (ngSubmit)="registrarUsuario()" *ngIf="!usuarioCreado">
      <div class="form-group">
        <label for="txtNombreUsuario">Nombre de usuario</label>
        <input type="text" id="txtNombreUsuario" class="form-control" [(ngModel)]="usuario.nombreUsuario" formControlName="nombreUsuario"
        />
        <div class="alert alert-warning" *ngIf="(nombreUsuario.dirty || nombreUsuario.touched) && nombreUsuario.errors && nombreUsuario.errors.pattern">Introduce un nombre de usuario válido</div>
        <div class="alert alert-warning" *ngIf="(nombreUsuario.dirty || nombreUsuario.touched) && nombreUsuario.errors && nombreUsuario.errors.required">Debes introducir un nombre de usuario</div>
      </div>
      <div class="form-group">
        <label for="txtEmail">Email</label>
        <input type="email" id="txtEmail" class="form-control" [(ngModel)]="usuario.correo" formControlName="correo" />
        <div class="alert alert-warning" *ngIf="(correo.dirty || correo.touched) && correo.errors && correo.errors.email">Debes introducir un email válido</div>
      </div>
      <div class="form-group">
        <label for="txtPassword">Contraseña</label>
        <input type="password" id="txtPassword" class="form-control" [(ngModel)]="usuario.password" formControlName="password" />
        <div class="alert alert-warning" *ngIf="(password.dirty || password.touched) && password.errors && password.errors.pattern">Debes introducir una contraseña válida</div>
        <div class="alert alert-warning" *ngIf="(password.dirty || password.touched) && password.errors && password.errors.required">Debes introducir una contraseña</div>
      </div>
      <div class="form-group">
        <label for="txtConfirmarPassword">Confirmar contraseña</label>
        <input type="password" id="txtConfirmarPassword" class="form-control" [(ngModel)]="confirmarPassword" formControlName="confirmarPassword"
        />
        <div class="alert alert-warning" *ngIf="(fieldConfirmarPassword.dirty || fieldConfirmarPassword.touched) && fieldConfirmarPassword.errors && fieldConfirmarPassword.errors.MatchFields">
          Las contraseñas introducidas deben coincidir
        </div>
      </div>
      <button type="submit" class="btn btn-primary mgn-top-1em" [disabled]="!frmUsuario.valid">Registrar</button>
    </form>
  </div>
</div>